.header {
    /* min-height: calc(100% + env(safe-area-inset-top)); */
    height: 10vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #068b77;
    height: inherit;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
}

.navbarLinksContainer {
    width: 300px;
    height: 100%;
}

.navbarLinks {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 100%;
 
}

.navLink{
    font-family: 'Roboto', sans-serif;
    color: #FDFDFD;
    font-size: 1rem;
    border-bottom: 3px #068b77 solid;
    text-align: center;
}

.navLink span {
    font-size: 13px;
}

 
.navLink{
    padding-bottom: 0.5rem;
    font-weight: 600;
}

.navLink i {
    color: #FDFDFD;
}

.navLink div {
    color: #FDFDFD;
}
/*     
.active,
.active .iconNav{
    color: #DDE295;
} */
  
/* .navLink:hover > .iconNav,
.navLink:hover
{
    color: #DDE295
} */
  
.active{
    border-bottom: 3px #DDE295 solid;
    color: #DDE295
}

.active div, .active i{
    color: #DDE295
}

.search{
    display: flex;
    align-items: center;
}


  
  

@media screen and (max-width: 991px) {
    .header{
        height: calc(10vh + env(safe-area-inset-top));
        /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
        background-color: #068b77;
        position: fixed;
        top: 0;
        z-index: 200;
    }

    .navbarLinksContainer {
        display: none;
    }
    .navLink{
        padding: 0.8rem;
        font-size: 0.6rem;
        height: 11vh;
        width: 11vh;
        padding: 1vh;
        border: none;
    }

    .navbarLinks {
        width: 80vw;
    }

    .navLink a{
        display: grid;
       
        height: 100%;
        align-content: center;
        color: #4FB8A8;
    }

    .active  a{
        color: #FDFDFD;
        align-content: flex-start;
    }

    .navLink i{
        font-size: 2.3em;
        color: #4FB8A8;
    }

    .active div, .active i{
        color: #FDFDFD
    }

    .active{
        background: linear-gradient(180deg, #068B77 0%, #004F3D 100%);
        border-radius: 100%;
        border: solid .5em #FDFDFD;
        border-color: #FDFDFD;
        --bs-nav-tabs-border-width: 3px;
        --bs-nav-tabs-border-color: #FDFDFD;
    }

    

}

@media screen and (max-width: 375px) {
    .navLink{
        font-size: 0.5rem;
        height: 12vh;
        width: 12vh;
        padding: 1vh;
        border: none;
    }
    .active{
        background: linear-gradient(180deg, #068B77 0%, #004F3D 100%);
        border-radius: 100%;
        border: solid .5em #FDFDFD;
        border-color: #FDFDFD;
        --bs-nav-tabs-border-width: 3px;
        --bs-nav-tabs-border-color: #FDFDFD;
    }
    .navLink span {
        font-size: 11px;
    }
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    { 
        .header{
            height: calc(7vh + env(safe-area-inset-top));
            /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
            background-color: #068b77;
            position: fixed;
            top: 0;
            z-index: 200;
        }
        .search{
            position: absolute;
            top: calc(1.5vh + env(safe-area-inset-top));
            left: 10vw;
        }

    } 