.dictionary {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.MeaningContainer {
    display: block ;
    flex: 1 0;
}

.searchLanguage {
    color: #A5A5A5;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .MeaningContainer {
        display: none ;
        flex: 1 0;
    }

    .dictionary {
        height: 80vh;
    }

    .searchLanguage {
        margin-bottom: 5px;
    }
}