.toast {
   display: block !important;
}

.notification-container {
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
}

.top-right {
    top: 115px;
    right: 12px;
    transition: transform .6s ease-in-out;
    animation: toast-in-right .7s;
    display: flex;
    padding: 10px;
}


